---
import SkillsBox from "./SkillsBox.astro";

const {
  workExperience: {
    organisationName,
    position,
    date,
    info,
    skills,
    icon: Icon,
  },
} = Astro.props;
---

<div
  class="group flex w-full cursor-pointer flex-col border-b-2 p-5 text-slate-500 transition duration-300 hover:border-black hover:text-black"
>
  <div class="flex items-center justify-between">
    <div class="text-highlight flex flex-col gap-1">
      {Icon && <Icon size={32} />}
      <span class="font-bold">{organisationName} </span>
      {
        position && (
          <span class="text-xs font-light text-slate-600">{position}</span>
        )
      }
    </div>
    <span class="text-sm font-light text-slate-600 group-hover:text-black">
      {date}
    </span>
  </div>
  <ul class="ml-3 mt-1 list-disc p-2">
    {info.map(info => <li>{info}</li>)}
  </ul>
  {skills && <SkillsBox skills={skills} />}
</div>
